#SystemMessage { position: absolute; top: 5px; right: 5px; background-color: DarkSlateBlue; color: #ffffff; right: 5px; display:none; }
#SpeedMessage { position: absolute; top: 5px; right: 5px; background-color: White; color: #ff0000; right: 400; display:none; }
#number {color: #ff0000; font-size: 30px;}


html,
body,
header,
section,
div,
label,
button,
p,
ul,
li,
h2 {
    font-family: monospace;
}

body {
    margin: 1vw;
    padding: 1vw;
    overflow:auto;
}

fieldset {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
}

div{
    margin: 1vh 1vh 1vh 1vh;
}

p{
    font-size: large;
}

#btns{
    display: inline-flex;
    justify-content: space-between;
}


label {
   /*vertical-align:middle;*/
}

button {
    font-size: large;
    width: auto;
    min-width: 30vw;
    min-height: 5vh;
}

input {
    /*margin: 1vw 1vw 1vw 1vw;*/
    /*min-width: 10vw;*/
}
